.wrapper {
    display: flex;
    flex-direction: row;
}

.ButtonsWrapper{
    margin-top: 20%;
    display: flex;
    justify-content: space-evenly;
}

.BackBtnDep {
    position: fixed !important;
    bottom: 0 !important;
    left: 10% !important;
    margin: 20px !important; 
}