* {
    font-family: sans-serif;
}

.blue-button {
    width: 5rem;
    height: auto;
    font-size: 1rem;
    color: black;
    margin: 20px;
    padding: 10px;
    background-color: rgb(206, 225, 253);
    border-radius: 10px;
}

.blue-button:disabled {
    background-color: aliceblue;
    cursor: not-allowed;
}

.buttons-wrapper {
    display: flex;
}

.blue-button:hover {
    background-color: rgb(214, 255, 255);
    cursor: pointer;
    transition: background-color 0.2s;
}

.blue-button:disabled:hover {
    background-color: aliceblue;
    cursor: pointer;
    transition: background-color 0.2s;
    cursor: not-allowed;
}

table {
    padding: 0;
    margin: 0;
    gap: 0;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed; /* Asigura ca latimea tabelului este fixa */
    width: 50%;
    height: 200px; /* Inaltimea tabelului */
    overflow-y: auto; /* Adauga scrollbar vertical daca tabelul depaseste inaltimea */
}

th, td {
    padding: 5px; /* Spatiul in jurul continutului celulelor */
    border: 1px solid black; /* Adauga un contur celulelor */
    text-align: center;
    width: 10vw;
    box-sizing: border-box; /* Asigura ca latimea celulei include si grosimea bordurii */
}

.delete-role-button {
    width: 2vw;
    background-color: rgb(255, 187, 187);
   
   
    border-radius: 5px;
}

.delete-role-button:hover {
    cursor: pointer;
}

.add-role {
    background-color: rgb(235, 235, 235);
}



th { 
    background-color: rgb(30, 133, 223);
    color: white;
}

.cancel-button {
    background-color: aliceblue;
    border: 1px solid black;
}

.cancel-button:hover {
    cursor: pointer;
}


