* {
    font-family: sans-serif;
}

.blue-button {
    width: 5rem;
    height: auto;
    font-size: 1rem;
    color: black;
    margin: 20px;
    padding: 10px;
    background-color: rgb(206, 225, 253);
    border-radius: 10px;
}

.blue-button:disabled {
    background-color: aliceblue;
    cursor: not-allowed;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
}

.blue-button:hover {
    background-color: rgb(214, 255, 255);
    cursor: pointer;
    transition: background-color 0.2s;
}

.blue-button:disabled:hover {
    background-color: aliceblue;
    cursor: pointer;
    transition: background-color 0.2s;
    cursor: not-allowed;
}

table {
    padding: 0;
    margin: 0;
    gap: 0;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed; /* Asigura ca latimea tabelului este fixa */
    width: 100%;


    overflow-y: scroll; /* Adauga scrollbar vertical daca tabelul depaseste inaltimea */
    font-size: clamp(10px,0.7vw,15px);


    
}

tr,th {
    width: 100%;
}

th, td {
    padding: 5px; /* Spatiul in jurul continutului celulelor */
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgba(99, 82, 255, 0.212);
    text-align: center;
    width: 12vw;
    box-sizing: border-box; /* Asigura ca latimea celulei include si grosimea bordurii */
    
}

.delete-role-button {
    width: 2vw;
    color: white;
    background-color: rgb(255, 187, 187);
    margin-left: 10px;
   
    border-radius: 5px;
}

.delete-role-button:hover {
    cursor: pointer;
    background-color: rgb(255, 221, 221);
    transition: background-color 0.2s;
}
.users-table{

    max-height: 50vh;
    overflow-y: scroll;
}

.add-role {
    position:relative;

    right: 0px;
    background-color: rgb(235, 235, 235);
    width: 13vw;
    padding: 3px;
    font-size: 12px;
}



th { 
    background-color: rgb(30, 133, 223);
    color: white;
    padding: 20px;
}

.cancel-button {
    color: white;
    background-color: rgb(255, 98, 98);
    
    border-radius: 3px;
    padding: 5px;
    margin: 2px;
}

.cancel-button:hover {
    cursor: pointer;
}

.horizontal-cell {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    margin: 5px 0px 5px 0px;
}

.roles-cell {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end ;
    align-items: flex-end;
}

.loading-spinner {
    max-height: 20px;
    max-width: 20px;
}


