/* CreateDepartmentStyles.css */
.CreateDepartmentWrapper {
    padding: 50px;
    display: flex;
  }
  
  .CreateDepartmentForm {
    padding: 20px;
  }
  
  .CreateDepartmentInput {
    margin-bottom: 20px;
  }
  