.LeftContainerProfile {
  display: flex;
  flex-direction: column;
  position: relative;
}

.ProfileAvatar {
  margin-top: 50px;
  margin-left: 100px;
}

.UsernameProfile {
  margin-left: 75px !important;
}

.GreenSmall {
  margin-left: 60px;
  border-radius: 25px;
  background-color: green;
  width: 25px;
  height: 25px;
}

.UserAvaiability {
  margin-left: 100px !important;
  margin-top: -25px !important;
}

.UserEmail {
  margin-top: 5% !important;
  margin-left: 30px !important;
}

.UserEmailExample {
  margin-top: -31px !important;
  margin-left: 110px !important;
}

.UserSkills {
  margin-top: 5px !important;
  margin-left: 30px !important;
}

.RightPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 20px; /* Adjust as needed */
  margin-top: 200px; /* Adjust as needed */
}

.SkillSection {
  margin-bottom: 20px;
}

.MySkillsContainer {
  max-height: 310px;
  overflow-y: auto;
}

.SelectSkill,
.SkillLevel,
.SliderLevel,
.Experience,
.AddSkillBtn {
  width: 100% !important;
}
