.options-container {
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    justify-content:center;
=======
    justify-content:space-around;
>>>>>>> 7c223e8f4f8e1b8c8c28b63f02cd338d12ae9396
    align-items: center;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 0.7rem;
}

.view-projects, .create-project {
    margin: 0px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    padding: 3rem;
}