*{
    
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box ;
    font-style: sans-serif;
}


body {
    background-color: white;
    text-decoration: none;

}

html {
    position: relative;
}

nav {
    
    display: inline-block;
    
    height: 100vh;
    
    background: white;
    width: clamp(6rem,10vw,10rem);
    
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);

}

li{
    list-style-type:none;
   
}

.logo-wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
}

.logout-wrapper {
    display: block;
    position: absolute;
    bottom: 0;
    padding: 0px;
}

img {
    
    width: 40%;
}

.logo-image{
    width: 80%;
}



.nav-wrapper {
    height: 100%;
}

.nav-frame {

    margin: 0px;
  
}

ul{
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}



.anchor{
    position: relative;
    color: black;
 
    display: flex;
    padding: 15px;
    width: 100%;
    height: auto;

    
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    transition: background 2s ease;
}

.logo-image {
    
    width: 80%;
    aspect-ratio: 1;
    
}


.nav-item {
    position:relative;
    top: 12px;
    font-family: sans-serif;
    font-weight:700;
    font-size: clamp(0.1rem,1vh,2rem);
}

a:hover{
    
    background: linear-gradient(90deg, rgb(130, 234, 255) 0%, rgba(222,249,255,1) 48%, rgba(255,255,255,1) 100%);

}



