body, html{
    width: 100%;
    height: 100%;

}

.wrapper {
    display: flex;
    flex-direction: row;
}

.content {
    margin-left: clamp(6rem,10vw,10rem);
    padding-left: 0px;
    height: 100%;
    width: 100%;
}